html,
body {
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   width: 80%;
}

a {
   color: #a8a9b4;
   text-decoration: none;
}

.row {
   min-height: 95vmin;
}

#header {
   width: 250px;
   background: #394453;
   border-radius: 10px;
}

#header h1 {
   font-size: 24px;
   font-weight: 600;
   text-align-last: center;
   font-family: "Poppins", sans-serif;
   color: #fff;
}

#header hr {
   height: 3px;
   color: #fff;
}

.nav-menu * {
   margin: 5px;
   padding: 0;
   list-style: none;
}
.nav-menu>ul>li {
   position: relative;
   white-space: nowrap;
}

#nav-list>li>a {
   font-size: 18px;
}

#nav-list>li a:hover,
ul#team-list>li:hover,
.footer>a:hover {
   text-decoration: none;
   color: #fff;
}

ul#team-list,
ul#team-list>li {
   font-size: 13px;
   color: #a8a9b4
}

ul#team-list>li {
   padding-bottom: 2px;
}

.footer {
   position: relative;
   margin-top: 5px;
   padding-bottom: 15px;
   align-items: center;
   text-align: center;
   bottom: 0;
   font-size: 15px;
}

#footer>hr {
   height: 1px;
   color: #777
}

main {
   align-items: normal;
   font-size: 14px;
   text-align: center;
}

.table th,
.table td {
   text-align: center;
}

#rookie {
   font-style: oblique;
}

h2 {
   font-weight: bold;
}